<!DOCTYPE html>  
<html>
<jsp:include page="header.jsp"></jsp:include>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시 index</title>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/jquery.sliphover.min.js"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/top.css">
    <link rel="stylesheet" href="../assets/css/content_recipy.css">
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/main.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/slider.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/settings.css'>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>

    <!-- 헤더 시작 -->
    <header>
        <div class="h_topBanner">
            <p><span class="top_img"><img src="../assets/images/talk_icon.png" alt="이벤트" width="35" height="30"></span>제 1회<span> 개밥멍선생</span> 레시피 공모전 이벤트! 채소를 이용한 나만의 레시피를 소개해주세요!<span  class="top_img"> <img src="../assets/images/arrow_icon.png" alt="" width="20" height="20"></span></p>
            <div class="h_topBar">
                <div class="h_topQuickMenu">
                    <ul>
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">🍳 모두의 레시피</a></li>
                        <li><a href="#">명예의 전당</a></li>
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                    <div id="logo">
                        <img src="../assets/images/logo.png" alt="개밥멍선생" width="198" height="88">
                    </div>
                    <div class="h_right">
                        <div class="w_btn"><img src="../assets/images/w_icon.png"></div>
                        <div class="h_search">
                            <input type="text" placeholder="#생일상 #브로콜리 #당근">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">

                        </div>
                    </div>
                </nav>

            </div>
            
        </div>
    </header>
    <!-- 헤더끝 -->


<!--  이미지  -->
<div id="carouselExampleIndicators" class="carousel slide test00 h-30" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://hohk.dothome.co.kr/load/data/kt180401/166654406749161600.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://hohk.dothome.co.kr/load/data/kt180401/166654406095696320.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://hohk.dothome.co.kr/load/data/kt180401/166654405377077504.jpg" class="d-block " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--  이미지  끝 -->









    <div class="mainContent">
        <ul class="mainTopIcon">
            <li><a href=""><img src="../assets/images/01.svg" alt=""><br>저키/트릿</a></li>
            <li><a href=""><img src="../assets/images/02.svg" alt=""><br>비스켓</a></li>
            <li><a href=""><img src="../assets/images/03.svg" alt=""><br>소시지</a></li>
            <li><a href=""><img src="../assets/images/04.svg" alt=""><br>건조</a></li>
            <li><a href=""><img src="../assets/images/05.svg" alt=""><br>음료</a></li>
            <li><a href=""><img src="../assets/images/06.svg" alt=""><br>시리얼</a></li>
            <li><a href=""><img src="../assets/images/07.svg" alt=""><br>수제간식</a></li>
            <li><a href=""><img src="../assets/images/08.svg" alt=""><br>아몰라</a></li>
            <li><a href=""><img src="../assets/images/09.svg" alt=""><br>뭐써야돼</a></li>
            <li><a href=""><img src="../assets/images/09.svg" alt=""><br>메뉴하나더</a></li>
        </ul>

        <div class="mainContent_01">
            <div class="con01_title">
                <p>New</p>
                <p>Recipe</p>
                <p>새로 등록된 레시피를 확인해보세요</p>
                <p><a href="">전체보기 <img src=".." alt="" width="14" height="14"></a></p>                
            </div> 
            <div class="con01_recipe">           
               <div class="con01_img"></div>
               <p>당근케이스 찹찹</p>
            </div>
            <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>
             <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>
             <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>           
        </div>
        



    
    </div><!--mainContent 끝-->

    <div class="mainContent_02">
        <div class="mainContent02_con">
            <div class="mainContent02_img">11</div>
                
            <div>
                <div class="mainContent02_title">
                    서늘한 바람이 솔솔~<br>가을에 딱 맞는 추천 랭킹 레시피
                </div>
                    <p>이미지넣자</p>
                    <p>이미지넣자</p>
                    <p>이미지넣자</p>
            </div>
        </div>
    </div>

    <div class="mainContent_03">
        <div class="mainContent_03_banner"><img src="../assets/images/banner01.jpg" alt="" width="580"></div>
        <div class="mainContent_03_banner"><img src="../assets/images/banner01.jpg" alt="" width="580"></div>
    </div>

    <div class="mainContent_04">


    </div>





    <!--본문끝-->



<!-- 푸터 -->
<footer>
<div class="footerDiv">
    <div class="f_logo">dd</div>
    <div class="f_left">가운데</div>
    <div class="f_right">dd</div>

</div>




</footer>
<!-- 푸터 끝 -->

</body></html>