<!DOCTYPE html>  
<html>
<jsp:include page="header.jsp"></jsp:include>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시 index</title>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/jquery.sliphover.min.js"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/top.css">
    <link rel="stylesheet" href="../assets/css/content_recipy.css">
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/main.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/slider.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='../assets/css/settings.css'>
</head>

<body>

    <!-- 헤더 시작 -->
    <header>
        <div class="h_topBanner">
            <p><span class="top_img"><img src="../assets/images/talk_icon.png" alt="이벤트" width="35" height="30"></span>제 1회<span> 개밥멍선생</span> 레시피 공모전 이벤트! 채소를 이용한 나만의 레시피를 소개해주세요!<span  class="top_img"> <img src="../assets/images/arrow_icon.png" alt="" width="20" height="20"></span></p>
            <div class="h_topBar">
                <div class="h_topQuickMenu">
                    <ul>
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">🍳 모두의 레시피</a></li>
                        <li><a href="#">명예의 전당</a></li>
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                    <div id="logo">
                        <img src="../assets/images/logo.png" alt="개밥멍선생" width="198" height="88">
                    </div>
                    <div class="h_right">
                        <div class="w_btn"><img src="../assets/images/w_icon.png"></div>
                        <div class="h_search">
                            <input type="text" placeholder="#생일상 #브로콜리 #당근">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">

                        </div>
                    </div>
                </nav>

            </div>
            
        </div>
    </header>
    <!-- 헤더끝 -->


    <!--본문시작-->
    <img src="http://hohk.dothome.co.kr/load/data/kt180401/166641972333177888.jpg" alt="">


    <div class="mainContent">
        <ul class="mainTopIcon">
            <li><a href=""><img src="../assets/images/01.svg" alt=""><br>저키/트릿</a></li>
            <li><a href=""><img src="../assets/images/02.svg" alt=""><br>비스켓</a></li>
            <li><a href=""><img src="../assets/images/03.svg" alt=""><br>소시지</a></li>
            <li><a href=""><img src="../assets/images/04.svg" alt=""><br>건조</a></li>
            <li><a href=""><img src="../assets/images/05.svg" alt=""><br>음료</a></li>
            <li><a href=""><img src="../assets/images/06.svg" alt=""><br>시리얼</a></li>
            <li><a href=""><img src="../assets/images/07.svg" alt=""><br>수제간식</a></li>
            <li><a href=""><img src="../assets/images/08.svg" alt=""><br>아몰라</a></li>
            <li><a href=""><img src="../assets/images/09.svg" alt=""><br>뭐써야돼</a></li>
            <li><a href=""><img src="../assets/images/09.svg" alt=""><br>메뉴하나더</a></li>
        </ul>

        <div class="mainContent_01">
            <div class="con01_title">
                <p>New</p>
                <p>Recipe</p>
                <p>새로 등록된 레시피를 확인해보세요</p>
                <p><a href="">전체보기 <img src=".." alt="" width="14" height="14"></a></p>                
            </div> 
            <div class="con01_recipe">           
               <div class="con01_img"></div>
               <p>당근케이스 찹찹</p>
            </div>
            <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>
             <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>
             <div class="con01_recipe">           
                <div class="con01_img"></div>
                <p>당근케이스 찹찹</p>
             </div>


            
        </div>


    
    </div>































    <!--본문끝-->
</body></html>