@charset "UTF-8";

/* 푸터 */
footer{background-color: #333; height: 150px; border-bottom: 5px solid #1a1a1a;}
.footerDiv{width: 1200px; height: 150px; margin: 0 auto; position: relative;}
.f_logo{position:absolute; left:50px; display:block;  width: 220px; height: 100px; margin-top: 25px; background: url(../images/logo_f.png); }
.f_left{float:left; display:block; width: 850px; height: 100px; margin-left: 30px; margin-top: 25px;  
background:url(http://hohk.dothome.co.kr/load/data/kt180401/166660688930756992.png) no-repeat right 15px;}
.f_left b{ color: #b8b8b8; line-height: 20px;}
.f_left p{ color: #b8b8b8; font-size: 13px; line-height: 25px;}