* {
	box-sizing: border-box;
	
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}



main {
	width: 100vw;
	height: 100vh;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 20px;
}



.download-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.download-btn {
	display: block;
	margin: 0 10px;
	padding: 10px 30px;
	background-color: rgb(65, 65, 65);
	color:rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	transition: ease-in-out .2s;
}

/* .download-btn:first-child {
	margin-right: 10px;
}

.download-btn:first-child:hover {
	background-color: rgb(112, 168, 107);
}

.download-btn:last-child:hover {
	background-color: rgb(144, 107, 168);
}

@media screen and (max-width: 500px) {
	.header p {
		font-size: 14px;)
	}

	/* .download-wrapper {
		justify-content: space-between;
	} 

	.download-btn {
		margin: 0;
		padding: 10px;
	}
} */