/* 메인본문시작 */

a{text-decoration:none;}
.mainContent{width: 1200px; margin: 0 auto;}
.mainTopIcon{width: 1100px; height:70px; margin: 40px auto; display: block;}
.mainTopIcon li{ float: left; width: 90px; height: 70px; text-align: center; margin : 0 5px;}
.mainTopIcon li:last-child{margin-right: none;}
.mainTopIcon li a{width: 90px; height: 70px; text-align: center; display: block; line-height: 13px; font-size: 14px; }

.mainContent_01{clear: both; width: 1200px; height: 200px; margin: 0 auto; margin-top:30px;}
.con01_title{width: 250px; float: left;}
.con01_title p{font-size: 35px; line-height: 20px;}
.con01_title p:nth-child(1){font-weight: 100;}
.con01_title p:nth-child(2){font-weight: 800;  box-shadow: inset 0 -10px #ffce00; width: 115px;}
.con01_title p:nth-child(3){font-size:16px; margin-top: 10px; font-weight: 300; color: #878a8b;}
.con01_title p:nth-child(4){font-size:13px; margin-top: 50px; font-weight: 700;}
.con01_title p:nth-child(4) a{ width: 100px; height: 25px; color:#333; display: block; border-bottom: 4px solid #858e9a; }

.con01_recipe{width: 220px; height: 180px;float: left; margin-left: 16px;}
/* 최신글 썸네일 */
.con01_img{width: 220px; height: 150px; background-color: #f8f8f8;  border-radius: 10px; box-sizing: border-box;}
.con01_img img{width: 220px; height: 150px; object-fit: cover; border-radius: 10px; box-sizing: border-box;}
.con01_recipe p{font-weight: 300; font-size: 15px; margin: 5px 8px;}
.con01_recipe .title{height: 25px; overflow: hidden; text-overflow: ellipsis; display:block;  width:130x; white-space: nowrap;}

.mainContent_02{background: #f3f3f3; height: 300px; margin-top: 70px;}
.mainContent02_con{width: 1200px; height: 430px; margin: 0 auto; }
.mainContent02_img{overflow: hidden; box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  width: 350px; height: 350px; border-radius: 15px; margin-top: 50px; float: left;}
.mainContent02_con .mainContent02_title{margin-left: 30px; margin-top:75px;  float: left; font-size:32px;  width: 800px; font-weight: 700; line-height: 38px; float: left;}
.mainContent02_con > div:nth-child(3){margin-left: 30px; width: 820px; height: 230px; float: left;}
.mainContent02_con p{box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); overflow: hidden;  margin-left: 30px; margin-top: 22px; width: 250px; height: 230px; background-color: #ffce00; border-radius: 15px; float: left; box-sizing: border-box;}
.mainContent02_con p:last-child{margin-right: 0; color:aqua;}

.mainContent_03{clear: both; width: 1200px; height: 190px; margin: 0 auto; margin-top: 180px;}
.mainContent_03_banner:first-child{float: left;}
.mainContent_03_banner:last-child{float: right;}




/* content04 */
.mainContent_04{margin: 70px auto; width: 1200px; height: 400px; margin-bottom:80px;}
.mainContent_04 h3{font-size: 20px; border-bottom: 1px solid #d7d7d7; display: block; height:40px; line-height: 40px; margin-bottom:20px;}
.minRecipe{float: left; margin-left: 30px; width: 550px; height: 150px; margin-bottom: 20px; border-bottom: 1px dashed #d7d7d7;}
.minRecipe .img{float: left;  width: 130px; height:130px; margin-right: 20px; overflow: hidden;}
.minRecipe h6{float: left;  font-size: 18px; font-weight: 600; margin-top: 20px;}
.minRecipe p{float: left;  width:350px; font-size: 14px;} 


/* 푸터 
footer{ clear: both;
    background-color: #333; height: 150px; border-bottom: 5px solid #1a1a1a;}
.footerDiv{width: 1200px; height: 150px; margin: 0 auto;}
.f_logo{width: 220px; height: 100px; background: #ffce00; margin-top: 25px; float: left; background: url(../images/logo_f.png);}
.f_left{width: 900px; height: 100px; margin-left: 30px; margin-top: 25px; float: left; background: url(../images/logo_f_etc.png) no-repeat right 15px;}
.f_left b{color: #b8b8b8; line-height: 20px;}
.f_left p{color: #b8b8b8; font-size: 13px; line-height: 25px;}
*/

